# Stanford Open Policing Project

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
ri = pd.read_csv("police.csv")

In [4]:
ri.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [5]:
ri.shape

(91741, 15)

In [6]:
ri.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [7]:
ri.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

# 1. Remove the column that only contains missing values

In [8]:
type(ri.columns)

pandas.core.indexes.base.Index

In [9]:
ri.len(ri.index)

AttributeError: 'DataFrame' object has no attribute 'len'

In [ ]:
list(ri.columns)

In [ ]:
ri.drop('county_name',axis = "columns", inplace = True)

In [ ]:
ri.shape

In [ ]:
list(ri.columns)

In [ ]:
ri.dropna(axis = 'columns', how = 'all').shape

# Do men or women, speed more often ? 

## driver_gender
## violation

In [ ]:
 ri[ri.violation == "Speeding"].driver_gender.value_counts()

In [12]:
ri.groupby('driver_gender').violation.value_counts(normalize = True)

driver_gender  violation
F              Speeding               0.658500
               Moving violation       0.136277
               Equipment              0.105780
               Registration/plates    0.043086
               Other                  0.029348
               Seat belt              0.027009
M              Speeding               0.524350
               Moving violation       0.207012
               Equipment              0.135671
               Other                  0.057668
               Registration/plates    0.038461
               Seat belt              0.036839
Name: violation, dtype: float64

## Does Gender Affect who gets Searched during a stop?

In [18]:
ri[ri.search_conducted ==True].driver_gender.value_counts(normalize = True)

M    0.852628
F    0.147372
Name: driver_gender, dtype: float64

In [19]:
ri.groupby('driver_gender').search_conducted.value_counts(normalize = True).unstack()

# THis proves that gender does not affect

search_conducted     False     True
driver_gender
F                 0.979967  0.020033
M                 0.956674  0.043326

In [26]:
ri.groupby('driver_gender').search_conducted.mean()

driver_gender
F    0.020033
M    0.043326
Name: search_conducted, dtype: float64

In [27]:
ri.groupby(['violation','driver_gender']).search_conducted.mean()

violation            driver_gender
Equipment            F                0.042622
                     M                0.070081
Moving violation     F                0.036205
                     M                0.059831
Other                F                0.056522
                     M                0.047146
Registration/plates  F                0.066140
                     M                0.110376
Seat belt            F                0.012598
                     M                0.037980
Speeding             F                0.008720
                     M                0.024925
Name: search_conducted, dtype: float64

# Does Race Affect Who Gets Searched During A Stop?

In [25]:
ri[ri.search_conducted == True].driver_race.value_counts()

White       1768
Black        790
Hispanic     584
Asian         51
Other          3
Name: driver_race, dtype: int64

In [29]:
ri.search_type.dropna().value_counts()

Incident to Arrest                                          1219
Probable Cause                                               891
Inventory                                                    220
Reasonable Suspicion                                         197
Protective Frisk                                             161
Incident to Arrest,Inventory                                 129
Incident to Arrest,Probable Cause                            106
Probable Cause,Reasonable Suspicion                           75
Incident to Arrest,Inventory,Probable Cause                   34
Incident to Arrest,Protective Frisk                           33
Probable Cause,Protective Frisk                               33
Inventory,Probable Cause                                      22
Incident to Arrest,Reasonable Suspicion                       13
Inventory,Protective Frisk                                    11
Incident to Arrest,Inventory,Protective Frisk                 11
Protective Frisk,Reasonable Suspicion                         11
Incident to Arrest,Probable Cause,Protective Frisk            10
Incident to Arrest,Probable Cause,Reasonable Suspicion         6
Incident to Arrest,Inventory,Reasonable Suspicion              4
Inventory,Reasonable Suspicion                                 4
Inventory,Probable Cause,Reasonable Suspicion                  2
Inventory,Probable Cause,Protective Frisk                      2
Incident to Arrest,Protective Frisk,Reasonable Suspicion       1
Probable Cause,Protective Frisk,Reasonable Suspicion           1
Name: search_type, dtype: int64

# During a Search, How often is a driver Frisked?

In [33]:
ri.search_type.str.contains('Protective Frisk').value_counts(dropna = False)

NaN      88545
False     2922
True       274
Name: search_type, dtype: int64

In [34]:
ri.groupby('driver_race').search_type.str.contains('Protective Frisk').value_counts(dropna = False)

AttributeError: Cannot access attribute 'str' of 'SeriesGroupBy' objects, try using the 'apply' method

# Which Year Had The Least Number of Stops?

In [40]:
ri['stop_date'].str.slice(0,4).value_counts()

2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: stop_date, dtype: int64

In [42]:
"""There is a datatype in pandas called datetime, which is very usefull"""
pd.to_datetime(ri.stop_date)

0       2005-01-02
1       2005-01-18
2       2005-01-23
3       2005-02-20
4       2005-03-14
5       2005-03-23
6       2005-04-01
7       2005-06-06
8       2005-07-13
9       2005-07-13
10      2005-07-13
11      2005-07-13
12      2005-07-14
13      2005-07-18
14      2005-07-18
15      2005-07-19
16      2005-07-19
17      2005-07-19
18      2005-07-20
19      2005-07-24
20      2005-07-28
21      2005-08-07
22      2005-08-08
23      2005-08-18
24      2005-08-28
25      2005-09-03
26      2005-09-17
27      2005-09-21
28      2005-09-22
29      2005-09-26
           ...
91711   2015-12-30
91712   2015-12-30
91713   2015-12-30
91714   2015-12-30
91715   2015-12-30
91716   2015-12-30
91717   2015-12-31
91718   2015-12-31
91719   2015-12-31
91720   2015-12-31
91721   2015-12-31
91722   2015-12-31
91723   2015-12-31
91724   2015-12-31
91725   2015-12-31
91726   2015-12-31
91727   2015-12-31
91728   2015-12-31
91729   2015-12-31
91730   2015-12-31
91731   2015-12-31
91732   2015-12-31
91733   2015-12-31
91734   2015-12-31
91735   2015-12-31
91736   2015-12-31
91737   2015-12-31
91738   2015-12-31
91739   2015-12-31
91740   2015-12-31
Name: stop_date, Length: 91741, dtype: datetime64[ns]

In [43]:
combined = ri.stop_date.str.cat(ri.stop_time, sep=' ')

In [45]:
ri['stop_datetime'] = pd.to_datetime(combined)

In [46]:
ri['stop_datetime']

0       2005-01-02 01:55:00
1       2005-01-18 08:15:00
2       2005-01-23 23:15:00
3       2005-02-20 17:15:00
4       2005-03-14 10:00:00
5       2005-03-23 09:45:00
6       2005-04-01 17:30:00
7       2005-06-06 13:20:00
8       2005-07-13 10:15:00
9       2005-07-13 15:45:00
10      2005-07-13 16:20:00
11      2005-07-13 19:00:00
12      2005-07-14 19:55:00
13      2005-07-18 19:30:00
14      2005-07-18 19:45:00
15      2005-07-19 00:30:00
16      2005-07-19 00:30:00
17      2005-07-19 23:30:00
18      2005-07-20 00:05:00
19      2005-07-24 20:10:00
20      2005-07-28 12:37:00
21      2005-08-07 16:50:00
22      2005-08-08 02:09:00
23      2005-08-18 10:57:00
24      2005-08-28 01:00:00
25      2005-09-03 16:02:00
26      2005-09-17 10:54:00
27      2005-09-21 13:30:00
28      2005-09-22 22:34:00
29      2005-09-26 01:05:00
                ...
91711   2015-12-30 15:42:00
91712   2015-12-30 16:19:00
91713   2015-12-30 17:07:00
91714   2015-12-30 17:39:00
91715   2015-12-30 23:26:00
91716   2015-12-30 23:33:00
91717   2015-12-31 00:00:00
91718   2015-12-31 00:01:00
91719   2015-12-31 06:31:00
91720   2015-12-31 06:32:00
91721   2015-12-31 06:49:00
91722   2015-12-31 07:06:00
91723   2015-12-31 07:14:00
91724   2015-12-31 07:27:00
91725   2015-12-31 08:14:00
91726   2015-12-31 08:41:00
91727   2015-12-31 09:17:00
91728   2015-12-31 13:50:00
91729   2015-12-31 14:21:00
91730   2015-12-31 15:36:00
91731   2015-12-31 16:38:00
91732   2015-12-31 19:44:00
91733   2015-12-31 19:55:00
91734   2015-12-31 20:20:00
91735   2015-12-31 20:25:00
91736   2015-12-31 20:27:00
91737   2015-12-31 20:35:00
91738   2015-12-31 20:45:00
91739   2015-12-31 21:42:00
91740   2015-12-31 22:46:00
Name: stop_datetime, Length: 91741, dtype: datetime64[ns]

In [50]:
ri.stop_datetime.dt.year.value_counts().sort_values().index[0]

2005